.flipped, .matched, .unmatched {
	height: 30rem;
	width: 30rem;
	margin: 0.5rem;
	background-repeat: no-repeat;
	background-origin: center center fixed;
	background-size: cover;
	@media screen and (max-width: 600px){
		width: 15rem;
		height: 15rem;
	}
}
.unmatched {
	border: 0.5rem solid $color__complementary;
	background-color: $color__primary;
}
.flipped {
	border: 0.5rem solid $color--flipped;
}
.matched {	
	border: 0.5rem solid $color--matched;
	opacity: 0.5;
}
.flipped[pic='0'], .matched[pic='0'] {
	background-image: url('../img/0.jpeg');
}
.flipped[pic='1'], .matched[pic='1'] {
	background-image: url('../img/1.jpeg');
}
.flipped[pic='2'], .matched[pic='2'] {
	background-image: url('../img/2.jpeg');
}
.flipped[pic='3'], .matched[pic='3'] {
	background-image: url('../img/3.jpeg');
}
.flipped[pic='4'], .matched[pic='4'] {
	background-image: url('../img/4.jpeg');
}