.dashboard {
	text-align: center;
}
.btn {
	margin: 1rem;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: $color__primary;
	width: 25rem;
	padding: 2rem 2rem;
	border: none;
	border-radius: 2px;
	box-shadow: transparent;
}