.container {
	background-color: $color__background;
	width: 100% -2rem;
	padding: 1rem 1rem;
}
#board {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
}