// Config
$debugging: false;

// Colors
$color__background: skyblue;
$color__text: black;
$color__primary: pink;
$color__complementary: dodgerblue;

// States
$color--flipped: teal;
$color--matched: lightgreen;
